
.work-sans-normal {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

/*shared style*/
.text-primary{
    color: #FD6E0A;
}

 .dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
}
/* font-family: "Open Sans", serif;
nav styles*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;


}
nav ul{
    display: flex;
    align-items: center;
}
nav ul  li{
    list-style: none;
    margin-right: 50px;
}
.nav-title{
    font-weight: 800px;
    font-size: 45px;
}

nav ul li{
    list-style: none;
}

nav li a{
    text-decoration: none;
}

